
$font-family_1: Arial, Helvetica, sans-serif;
$color_1: #ffffffc4;
$color_2: #fffefe;
$color_3: white;
$color_4: #010005;
$color_5: #fdfcff;
$color_6: aliceblue;
$color_7: #FFF;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: rgba(37, 52, 65,0.15);
$background-color_2: #bbb2b29a;

.btn-box {
	a {
		text-decoration: none;
		font-family: $font-family_1;
		color: $color_3;
	}
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #2b4661;
	border-radius: 60px;
	transition: transform 0.3 ease, box-shadow 0.3 ease;
	font-weight: 600;
	z-index: 1;
	overflow: hidden;
	background-image: linear-gradient(to top, #2c505a 0%, #3e4d66 100%);
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(to top, #4f8492 0%, #233553 100%);
		transition: transform 0.5s ease;
		z-index: -1;
	}
	&:hover {
		transform: translate(0,-6px);
		box-shadow: 10px -10px 25px 0 rgba(66, 24, 83, 0.5), 10px -10px 25px 0 rgba(30, 108, 134, 0.5);
	}
}