$color_1: #ffffffc4;
$color_2: #fffefe;
$color_3: white;
$color_4: #010005;
$color_5: #fdfcff;
$color_6: aliceblue;
$color_7: #FFF;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: rgba(37, 52, 65,0.15);
$background-color_2: #bbb2b29a;