body{ 
    background:url(img/aleksandra-khaprenko-0PPw9irzLIw-unsplash.jpg) rgba(0, 0, 0, 0.3) !important;
    background-blend-mode:multiply ;
    background-position: center;
    background-size: cover;
      background-repeat: no-repeat;
}

.home{ 
    display: flex;
    position: relative;
    background: #fffffff1;
    padding: 1.5em 2.5em;
    color: #ffffffc4;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 15px 15px 55px rgb(110, 154, 172);
    width: 70%;
    max-width: 600px;
   top: 20%;
}

.home-content{
    
    max-width: 600px;
    z-index: 2;
 
}
.home-content h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color-interpolation-filters: auto #343434 ;
   
}
.home-content h3{
    font-size: 25px;
    color: #fffefe;
}
.home-content h4{
    font-size: 30px;
  color: #fffefe;
 
}
.home::before,
.home::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home::before{
    background-image: linear-gradient(-45deg, #445061, #5b8691);
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 10px;
    z-index: 1;
}
.home::after{
    background-image: linear-gradient(
        90deg,
        transparent,
        #0a93f5,
        transparent
    );
    height: 160%;
    width: 5em;
    z-index: 0;
    animation: 3.5s rotate linear infinite;

}
@keyframes rotate {
    100%{
        transform: 
        translate(-50%, -50%) rotate(360deg);
    }
}

.home-content .btn-box{
    
    display:flex;
    width: 200px ;
    height: 50px;
    
}
.btn-box a{ text-decoration: none;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;

}

.btn-box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2b4661;
    border-radius: 60px;
    transition: transform 0.3 ease, box-shadow 0.3 ease ;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    background-image: linear-gradient(to top, #2c505a 0%, #3e4d66 100%);

}

.btn-box::before{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #4f8492 0%, #233553 100%);
transition: transform 0.5s ease;
z-index: -1;
 
}
.btn-box:hover{
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0 rgba(66, 24, 83, 0.5), 10px -10px 25px 0 rgba(30, 108, 134, 0.5); ;

}

@media(max-width:991px){
    .sidebar{
        background-color: rgba(37, 52, 65,0.15)!important;
        backdrop-filter:blur(10px) ;
    }
}
/*/ segunda pagina /*/
.carousel-inner{
     max-height: 300px;
     max-width: 100%;
     margin-top: 10%;
    
}


.cont-hm{
   max-height: 100%;
    background-color: #bbb2b29a;
}
.container.brr{
    position: relative;
    margin-top: 10%;
}
.container .barra{
    margin: 2% 0;

}
.container-brr .barra p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-brr .barra1 p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}.container-brr .barra2 p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}.container-brr .barra3 p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-brr .barra .progreso{
    position: relative;
    width: 95%;
    height: 6px;
    background: #1d60c4;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;


}
/* */
.container-brr .barra1 .progreso1{
    position: relative;
    width: 70%;
    height: 6px;
    background: #1d60c4;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;


}
    .container-brr .barra2 .progreso2{
    position: relative;
    width: 90%;
    height: 6px;
    background: #1d60c4;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;


}


.container-brr .barra3 .progreso3{
    position: relative;
    width: 70%;
    height: 6px;
    background: #2763bd;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;


}

/*/ pagina de servicios/*/

.home2{
    height: 70vh;
    display: flex-box;
align-items: center;
padding: 0 10%;
margin-top: 10%;
}
.home-content2{
   max-width: 600px ;
}
.home-content2 h1{
  
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #010005;
}

.home-content2 li {
    color: #fdfcff;
    font-size: 16px;
    margin: 20px 0 40px;
 
}
/*/pagina contacto/*/
.home3{
    height: 50vh;
    display: grid;
    place-items: center;
padding: 0 10%;



}
.home3-content3{
   max-width: 100% ;
   margin-top: 30%;
}
.home3-content3 h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home3-content3 h3{
    font-size: 25px;
    font-weight: 600;
}
.home-red {
    position:absolute;
    bottom: 40px;
    width: 180px;
    display: flex;
    justify-content: space-between;

    
}

.home-red a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #005cc4;
    border-radius: 50%;
    font-size: 20px;
    color:aliceblue;
    text-decoration: none;
    z-index: 1;
 overflow: hidden;
}

.home-red a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to top, #406e7a 0%, #3b5275 100%);
    z-index: -1;
    transition: 1s;
}
.home-red a:hover:before{
    width: 100%;


}
.home3-content3 .btn-box{
    
    display:flex;
    width: 200px ;
    height: 50px;
    
}
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
    }
}
